/*Header*/

// @use "../abstracts/variables";
// @include variables;

// $color-primary: #55c57a;

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  border: 1px solid $color-white;
  background-color: $color-black;
  grid-area: header;

  &__item {
    // background-color: red;
    width: 100%;
  }

  ul {
    // background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
  }

  li {
    font-size: 1.2rem;
    &:hover {
      transform: scale(1.2);
    }
    list-style: none;

    & > * {
      text-decoration: none;
      color: inherit;
    }
  }
}
