.footer {
  border: 1px solid $color-white;
  background: $color-black;
  grid-area: footer;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

@media (max-width: $screen-medium) {
  .footer {
    border: 1px solid $color-white;
    grid-area: footer;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background: $color-black;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: $screen-small) {
}
