/*Header*/

// @use "../abstracts/variables";
// @include variables;

// $color-primary: #55c57a;

.header {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  border: 1px solid red;
  background-color: #78aaf5;
  grid-area: header;

  &__item {
    align-content: space-between;
  }
}
