.hero {
  border: 1px solid $color-white;
  background-color: #1696b2;
  grid-area: hero;
  margin: 0;
  padding: 0;
  background: $color-black;
}

// @media (max-width: $screen-medium) {
// }

// @media (max-width: $screen-small) {
// }
